<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tpt-Blog博客管理系统安装程序</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="__ADMIN__/js/jquery.min.js"></script>
        <link rel="stylesheet" href="__ADMIN__/css/admin.css">
        <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css">
    </head>
<body>
<div class="inside">
      <div class="inwp cl">  
		<h2><a href="__ROOT__/install.php"><img src="__ADMIN__/img/logo.png" alt="Tpt-Blog博客管理系统"></a></h2>
        <ul>
            <li class="innumber">1</li>
            <li class="inword">安装协议</li>
        </ul>
        <ul>
            <li class="innumber innumber1">2</li>
            <li class="inword">环境检测</li>
        </ul>
        <ul>
            <li class="innumber">3</li>
            <li class="inword">创建数据</li>
        </ul>
        <ul>
            <li class="innumber">4</li>
            <li class="inword">安装完成</li>
        </ul>
    </div>
</div>

<div class="inside2">
   <div class="inwp cl">


    <h2>环境检测</h2>
    <table width="100%">
            <tr>
                <th>项目</th>
                <th>所需配置</th>
                <th>当前配置</th>
            </tr>

            <volist name="env" id="item">
                <tr>
                    <td>{$item[0]}</td>
                    <td>{$item[1]}</td>
                    <td>{$item[3]}</td>       
                </tr>
            </volist>
    </table>

    
	<h2>目录、文件权限检查</h2>
	<table width="100%">

            <tr>
                <th>目录/文件</th>
                <th>所需状态</th>
                <th>当前状态</th>
            </tr>
            <volist name="dirfile" id="item">
                <tr>
                    <td>{$item[3]}</td>
                    <td>可写</td>
                    <td>{$item[1]}</td>   
                </tr>
            </volist>
    </table>




    <h2>函数依赖性检查</h2>
       <table width="100%">
            <tr>
                <th>函数名称</th>
                <th>检查结果</th>
            </tr>
            <volist name="func" id="item">
                <tr>
                    <td>{$item[0]}()</td>
                    <td><i class="ico-{$item[2]}">&nbsp;</i>{$item[1]}</td>
                </tr>
            </volist>

    </table>



            <div class="inout1">
			<a href="{:U('Index/index')}">上一步</a>
		    </div>
		    <div class="inout2">
			<a href="{:U('Install/step2')}">下一步</a>
		    </div>

</div>
</div>
</body>
</html>
