<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tpt-Blog博客管理系统安装程序</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="__ADMIN__/js/jquery.min.js"></script>
        <link rel="stylesheet" href="__ADMIN__/css/admin.css">
        <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css">
    </head>
<body>
<div class="inside">
      <div class="inwp cl">  
		<h2><a href="__ROOT__/install.php"><img src="__ADMIN__/img/logo.png" alt="Tpt-Blog博客管理系统"></a></h2>
        <ul>
            <li class="innumber">1</li>
            <li class="inword">安装协议</li>
        </ul>
        <ul>
            <li class="innumber">2</li>
            <li class="inword">环境检测</li>
        </ul>
        <ul>
            <li class="innumber innumber1">3</li>
            <li class="inword">创建数据</li>
        </ul>
        <ul>
            <li class="innumber">4</li>
            <li class="inword">安装完成</li>
        </ul>
    </div>
</div>

    <script type="text/javascript">
        var list   = document.getElementById('show-list');
        function showmsg(msg, classname){
            var li = document.createElement('p'); 
            li.innerHTML = msg;
            classname && li.setAttribute('class', classname);
            list.appendChild(li);
            document.scrollTop += 30;
        }
    </script>

</body>
</html>