<include file="Public:header"/>
<div class="aright">

<div class="arz cl"><a href="{:U('navtop/add')}"><i class="layui-icon">&#xe608;</i>添加导航</a></div>
<form method="post" class="aform cl">
<table width="100%">
<tr>
<th width="10%" align="center">导航排序</th>
<th width="20%" align="center">导航名称</th>
<th width="10%" align="center">前台显示</th>
<th width="40%" align="center">导航连接</th>
<th width="10%" align="center">添加时间</th>
<th width="10%" align="center">基本操作</th>
</tr>
<foreach name="n" item="vo" key="k">
<tr>
<td style="padding-left: 20px;">{$vo.sort}</td>
<td style="padding-left: 20px;">{$vo.name}</td>
<td align="center">
<if condition="$vo['show'] eq 1">显示</if>
<if condition="$vo['show'] eq 0">隐藏</if>
</td>
<td style="padding-left: 20px;"><if condition="$vo['link'] neq ''">{$vo.link}<else />暂无连接</if></td>
<td align="center">{$vo.time|date="Y-n-d",###}</td>
<td align="center">
<a href="{:U('navtop/edit',array('id'=>$vo['id']))}">修改</a> | <a href="{:U('navtop/delete',array('id'=>$vo['id']))}" onclick="return confirm('您确定删除吗？');">删除</a>
</td>
</tr>
<foreach name="ns" item="vs" key="k">
<if condition = "$vo.id eq $vs['tid']">
<tr>
<td style="padding-left: 20px;">———— {$vs.sort}</td>
<td style="padding-left: 20px;">———— {$vs.name}</td>
<td align="center">
<if condition="$vs['show'] eq 1">显示</if>
<if condition="$vs['show'] eq 0">隐藏</if>
</td>
<td style="padding-left: 20px;"><if condition="$vs['link'] neq ''">{$vs.link}<else />暂无连接</if></td>
<td align="center">{$vo.time|date="Y-n-d",###}</td>
<td align="center">
<a href="{:U('navtop/edit',array('id'=>$vs['id']))}">修改</a> | <a href="{:U('navtop/delete',array('id'=>$vs['id']))}" onclick="return confirm('您确定删除吗？');">删除</a>
</td>
</tr>
</if>
</foreach>
</foreach>
</table>
</form> 
</div>
</div>
</body>
</html>



