<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Tpt-Blog博客管理系统</title>
  <link rel="stylesheet" href="__ADMIN__/css/admin.css">
  <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css">
  <script src="__ADMIN__/layui/layui.js"></script>
</head>
<body>
<div class="header">
<h2 class="z cl"><a href="{:U('index/index')}"><img src="__ADMIN__/img/logo.png"></a></h2>
<div class="y cl">
<a target="_blank" href="__ROOT__/index.php">网站首页</a>
<a href="{:U('Login/logout')}">退出</a>
</div>
</div>
<div class="admin">
<div class="aleft">
<h3><i class="layui-icon" style="position: relative;right: 3px;top: 1px;font-size: 18px;color: #009688;">&#xe643;</i>操作菜单</h3>
<ul class="cl">
<li><i class="layui-icon">&#xe601;</i><a href="{:U('navtop/index')}">导航管理</a></li>
<li><i class="layui-icon">&#xe61f;</i><a href="{:U('category/index')}">栏目管理</a></li>
<li><i class="layui-icon">&#xe63c;</i><a href="{:U('article/index')}">文章管理</a></li>
<li><i class="layui-icon">&#xe60c;</i><a href="{:U('banner/index')}">幻灯管理</a></li>
<li><i class="layui-icon">&#xe64e;</i><a href="{:U('links/index')}">友情连接</a></li>
</ul>
<h3><i class="layui-icon" style="position: relative;right: 3px;top: 1px;font-size: 18px;color: #009688;">&#xe614;</i>系统管理</h3>
<ul class="cl">
<li><i class="layui-icon">&#xe62c;</i><a href="{:U('conf/index')}">网站配置</a></li>
<li><i class="layui-icon">&#xe631;</i><a href="{:U('member/index')}">密码修改</a></li>
<li><i class="layui-icon">&#xe640;</i><a href="{:U('runtime/index')}">清理缓存</a></li>
<li><i class="layui-icon">&#x1006;</i><a href="{:U('Login/logout')}">立即退出</a></li>
</ul>
<h3><i class="layui-icon" style="position: relative;right: 3px;top: 1px;font-size: 18px;color: #009688;">&#xe612;</i>帮助中心</h3>
<ul class="cl">
<li><i class="layui-icon">&#xe63a;</i><a target="_blank" href="http://wenda.templet360.com/">社区问答</a></li>
</ul>
</div>